# This file is managed by Ansible.

##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.
servername="{{ valheim_server_name }}"
# Minimum password length is 5.
serverpassword="{{ valheim_server_password }}"
port="{{ valheim_server_port }}"
gameworld="{{ valheim_server_gameworld }}"
public="{{ valheim_server_public }}"
